# Rewrite Engine'i etkinleştir
RewriteEngine On

# Kök dizini için yönlendirme kuralı
RewriteRule ^$ /index.php [L]

# Varlığı olmayan gerçek dosya veya dizinler için yönlendirme kuralı
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [L]
